@using bitScry.Models.Home;
@{List<Blog> blogs = (List<Blog>)ViewData["Blogs"];}

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>bitScry</h1>
    <p class="lead">Website to practise things on and host guides to how I do things.</p>
    <p><a href="https://blog.bitscry.com/" class="btn btn-primary btn-lg">Blog</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="img-thumbnail">
            <h3>@blogs[0].Title</h3>
            <p>
                <a href="@blogs[0].Url" class="btn btn-primary" role="button">Learn more &raquo;</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-thumbnail">
            <h3>@blogs[1].Title</h3>
            <p>
                <a href="@blogs[1].Url" class="btn btn-primary" role="button">Learn more &raquo;</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-thumbnail">
            <h3>@blogs[2].Title</h3>
            <p>
                <a href="@blogs[2].Url" class="btn btn-primary" role="button">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</div>