@{
    ViewData["Title"] = "Index";
    string barChart = TempData["BarChart"].ToString();
    string lineChart = TempData["LineChart"].ToString();
    string lineScatterChart = TempData["LineScatterChart"].ToString();
    string radarChart = TempData["RadarChart"].ToString();
    string polarChart = TempData["PolarChart"].ToString();
    string pieChart = TempData["PieChart"].ToString();
}

@section head {

}

<h2>Charts</h2>

<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <canvas id="barChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/9be48d48ee495f16fe644661c410a0dee3fd85d5/bitScry/Controllers/Projects/ChartController.cs#L44-L119" class="btn btn-primary">View Code</a>
        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <canvas id="lineChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/9be48d48ee495f16fe644661c410a0dee3fd85d5/bitScry/Controllers/Projects/ChartController.cs#L121-L187" class="btn btn-primary">View Code</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <canvas id="lineScatterChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/9be48d48ee495f16fe644661c410a0dee3fd85d5/bitScry/Controllers/Projects/ChartController.cs#L189-L249" class="btn btn-primary">View Code</a>
        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <canvas id="radarChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/9be48d48ee495f16fe644661c410a0dee3fd85d5/bitScry/Controllers/Projects/ChartController.cs#L251-L290" class="btn btn-primary">View Code</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <canvas id="polarChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/9be48d48ee495f16fe644661c410a0dee3fd85d5/bitScry/Controllers/Projects/ChartController.cs#L292-L313" class="btn btn-primary">View Code</a>
        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <canvas id="pieChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/9be48d48ee495f16fe644661c410a0dee3fd85d5/bitScry/Controllers/Projects/ChartController.cs#L315-L337" class="btn btn-primary">View Code</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>

@section Scripts {
    <script src="~/vendor/chart.js/Chart.js"></script>
    <script type="text/javascript">
        @Html.Raw(barChart);
    </script>
    <script type="text/javascript">
        @Html.Raw(lineChart);
    </script>
    <script type="text/javascript">
        @Html.Raw(lineScatterChart);
    </script>
    <script type="text/javascript">
        @Html.Raw(radarChart);
    </script>
    <script type="text/javascript">
        @Html.Raw(polarChart);
    </script>
    <script type="text/javascript">
        @Html.Raw(pieChart);
    </script>
}